In [2]:
import pandas as pd
import lasio
import matplotlib.pyplot as plt

In [6]:
# Specify the path to your LAS file
file_path = r"C:\Users\sachi\OneDrive\Desktop\15-9-19_SR_COMP.LAS"

# Read the LAS file
las = lasio.read(file_path)

In [8]:
df = las.df()
df.head()

                 AC     CALI     DEN       GR      NEU    RDEP    RMED
DEPT
3615.4340   95.7952  12.7249  2.3429  54.8754  44.5742  0.8941  0.8359
3615.5864   94.2267  12.5961  2.3528  53.5158  62.1103  0.7367  0.8028
3615.7388  101.3254  13.7632  2.3170  48.9803  71.9087  0.6423  0.7958
3615.8912   99.5672  14.3249  2.2585  36.6762  44.8988  0.6571  0.7929
3616.0436  100.5965  11.1429  2.2108  40.4632  49.5744  0.7442  0.7940

In [10]:
df.reset_index(inplace=True)

In [12]:
df.head()

        DEPT        AC     CALI     DEN       GR      NEU    RDEP    RMED
0  3615.4340   95.7952  12.7249  2.3429  54.8754  44.5742  0.8941  0.8359
1  3615.5864   94.2267  12.5961  2.3528  53.5158  62.1103  0.7367  0.8028
2  3615.7388  101.3254  13.7632  2.3170  48.9803  71.9087  0.6423  0.7958
3  3615.8912   99.5672  14.3249  2.2585  36.6762  44.8988  0.6571  0.7929
4  3616.0436  100.5965  11.1429  2.2108  40.4632  49.5744  0.7442  0.7940

In [14]:
df.rename(columns={'DEPT':'DEPTH'}, inplace=True)

In [16]:
df.head()

       DEPTH        AC     CALI     DEN       GR      NEU    RDEP    RMED
0  3615.4340   95.7952  12.7249  2.3429  54.8754  44.5742  0.8941  0.8359
1  3615.5864   94.2267  12.5961  2.3528  53.5158  62.1103  0.7367  0.8028
2  3615.7388  101.3254  13.7632  2.3170  48.9803  71.9087  0.6423  0.7958
3  3615.8912   99.5672  14.3249  2.2585  36.6762  44.8988  0.6571  0.7929
4  3616.0436  100.5965  11.1429  2.2108  40.4632  49.5744  0.7442  0.7940

In [117]:
# Your plotting code
df.plot(x='GR', y='DEPTH')

# Show the plot
plt.show()

In [ ]:
# Plot the data with subplots
axes = df.plot(subplots=True, figsize=(15, 15))

# Show the plot
plt.show()

# Plotting Logs

In [123]:

# Define curve_names with labels corresponding to each subplot
curve_names = ['Gamma', 'Deep Resistivity','Density', 'Neutron']

fig, axes= plt.subplots(figsize=(10, 10))  # Unpack the tuple to get the figure object

# Plotting Gamma Ray
ax1 = plt.subplot2grid((1, 3), (0, 0), rowspan=1, colspan=1)
ax1.plot(df['GR'], df['DEPTH'], color='green',lw=0.5)  # Ensure the correct order of parameters
ax1.set_xlabel(curve_names[0])  # Set the xlabel using curve_names
ax1.set_xlim(0, 200)

# Plotting Deep Resistivity
ax2 = plt.subplot2grid((1, 3), (0, 1), rowspan=1, colspan=1)
ax2.plot(df['RDEP'], df['DEPTH'], color='red',lw=0.5)  # Ensure the correct order of parameters
ax2.set_xlabel(curve_names[1])  # Set the xlabel using curve_names
ax2.set_xlim(0.2, 2000)
ax2.semilogx()


ax3 = plt.subplot2grid((1, 3), (0, 2), rowspan=1, colspan=1)
ax3.plot(df['DEN'], df['DEPTH'], color='blue',lw=0.5)
ax3.set_xlim(1.95, 2.95)
ax4 = ax3.twiny()

ax4.plot(df['NEU'], df['DEPTH'], color='pink',lw=0.5)
ax4.set_xlim(45, -15)


# Set the y-axis limits and grid
for i,ax in enumerate(fig.axes):  # Iterate over the list of axes
    ax.set_ylim(4700, 3500)  # Ensure the correct orientation for depth (top to bottom)
    ax.xaxis.set_ticks_position('top' )
    ax.xaxis.set_label_position('top')
    ax.set_xlabel(curve_names[i-1])
    if i-1==3:
        ax.spines['top'].set_position(('axes',1.07))
    else:
        ax.grid()

for ax in [ax2, ax3]:
    plt.setp(ax.get_yticklabels(), visible = False)

fig.subplots_adjust(wspace=0.05)

plt.show()